Slurm_Intro.vrb
Slurm_Intro.aux
Slurm_Intro.nav
Slurm_Intro.snm
Slurm_Intro.toc
Slurm_Intro.dvi
Slurm_Intro.out
Slurm_Intro.synctex.gz
Slurm_Intro.log
Slurm_Intro.pdf
.DS_Store
.Slurm_Intro.tex.swp
Slurm_Intro.synctex.gz(busy)
